In [10]:
from zipfile import ZipFile
import pandas as pd
import os
#import ace_tools as tools
from prettytable import PrettyTable

### Add tables to compare

In [15]:
data_directory_raw = "Data/LargeZips/"
zip_file_raw = "transArchive_201001_201003.zip"  # Single zip file

data_directory_clean = "Data/clean-files/"
zip_file_clean = "transArchive_201001_201003_clean.csv"  # Single csv file

### Read in raw file

In [16]:
with ZipFile(data_directory_raw + zip_file_raw, 'r') as zf:
    # Get the list of files in the zip and assign the desired file to a variable
    file_name = zf.namelist()[0]  # Use variable to store the first file name (or choose the desired one)
    print(f"Reading file: {file_name}")
    
    # Open the file using the variable
    with zf.open(file_name) as f:
        df_raw = pd.read_csv(f, sep=',')

# Step 5: Print the shape of the DataFrame
print("Shape of the data:", df_raw.shape)

# Step 6: Get and print descriptive statistics
#print("Descriptive statistics:")
#print(df_raw.describe())

Reading file: transArchive_201001_201003.csv
Shape of the data: (2998330, 50)

### Read in Clean File

In [17]:
with open(data_directory_clean + zip_file_clean, 'r') as f:
    df_clean = pd.read_csv(f, sep=',')

# Step 5: Print the shape of the DataFrame
print("Shape of the data:", df_clean.shape)

# Step 6: Get and print descriptive statistics
#print("Descriptive statistics:")
#print(df_clean.describe())

Shape of the data: (2998330, 50)

In [ ]:
# Step 1: Check if the number of columns matches
if df_clean.shape[1] != df_raw.shape[1]:
    print(f"Column mismatch: Cleaned DataFrame has {df_clean.shape[1]} columns, raw DataFrame has {df_raw.shape[1]} columns")

# Step 2: Check if column names match
if list(df_clean.columns) != list(df_raw.columns):
    print(f"Column name mismatch: Cleaned DataFrame columns are {list(df_clean.columns)}, raw DataFrame columns are {list(df_raw.columns)}")

# Step 3: Check if column data types match
if (df_clean.dtypes != df_raw.dtypes).any():
    print(f"Data type mismatch:\nCleaned DataFrame types:\n{df_clean.dtypes}\nRaw DataFrame types:\n{df_raw.dtypes}")

In [22]:
total_nulls = df_raw.isnull().sum().sum()

# Print the result
print(f"Total null values in df_raw: {total_nulls}")

Total null values in df_raw: 16472725

In [24]:
# Find the number of nulls in each column
nulls_by_column = df_raw.isnull().sum()

# Print the result
print("Null values by column:")
print(nulls_by_column)

Null values by column:
datetime                 0
register_no              0
emp_no                   0
trans_no                 0
upc                      0
description              0
trans_type               0
trans_subtype       389327
trans_status        673703
department               0
quantity                 0
Scale                    0
cost                     0
unitPrice                0
total                    0
regPrice                 0
altPrice                 0
tax                      0
taxexempt                0
foodstamp                0
wicable                  0
discount                 0
memDiscount              0
discountable             0
discounttype             0
voided                   0
percentDiscount    1094857
ItemQtty                 0
volDiscType              0
volume                   0
VolSpecial               0
mixMatch                 0
matched                  0
memType            2998330
staff                    0
numflag                  0
itemstatus               0
tenderstatus             0
charflag           2321518
varflag                  0
batchHeaderID      2998330
local                    0
organic            2998330
display            2998330
receipt                  0
card_no                  0
store                    0
branch                   0
match_id                 0
trans_id                 0
dtype: int64

In [26]:
df_clean.dtypes

datetime            object
register_no          int64
emp_no               int64
trans_no             int64
upc                 object
description         object
trans_type          object
trans_subtype       object
trans_status        object
department           int64
quantity           float64
Scale                int64
cost               float64
unitPrice          float64
total              float64
regPrice           float64
altPrice           float64
tax                  int64
taxexempt            int64
foodstamp            int64
wicable              int64
discount           float64
memDiscount        float64
discountable         int64
discounttype         int64
voided               int64
percentDiscount    float64
ItemQtty           float64
volDiscType          int64
volume               int64
VolSpecial         float64
mixMatch             int64
matched              int64
memType            float64
staff                int64
numflag              int64
itemstatus           int64
tenderstatus         int64
charflag            object
varflag              int64
batchHeaderID      float64
local                int64
organic            float64
display            float64
receipt              int64
card_no              int64
store                int64
branch               int64
match_id             int64
trans_id             int64
dtype: object

In [25]:
# Find the number of nulls in each column
nulls_by_column = df_clean.isnull().sum()

# Print the result
print("Null values by column:")
print(nulls_by_column)

Null values by column:
datetime                 0
register_no              0
emp_no                   0
trans_no                 0
upc                      0
description              0
trans_type               0
trans_subtype       389327
trans_status        673703
department               0
quantity                 0
Scale                    0
cost                     0
unitPrice                0
total                    0
regPrice                 0
altPrice                 0
tax                      0
taxexempt                0
foodstamp                0
wicable                  0
discount                 0
memDiscount              0
discountable             0
discounttype             0
voided                   0
percentDiscount    1094857
ItemQtty                 0
volDiscType              0
volume                   0
VolSpecial               0
mixMatch                 0
matched                  0
memType            2998330
staff                    0
numflag                  0
itemstatus               0
tenderstatus             0
charflag           2321518
varflag                  0
batchHeaderID      2998330
local                    0
organic            2998330
display            2998330
receipt                  0
card_no                  0
store                    0
branch                   0
match_id                 0
trans_id                 0
dtype: int64

In [23]:
total_nulls = df_clean.isnull().sum().sum()

# Print the result
print(f"Total null values in df_clean: {total_nulls}")

Total null values in df_clean: 16472725

In [21]:
# Function to collect column stats safely
def collect_column_stats(df):
    stats = {}
    for col in df.columns:
        stats[col] = {
            "Data Type": str(df[col].dtype),
            "Null Values": df[col].isnull().sum(),
            "Unique Values": df[col].nunique(),
            "Range": f"{df[col].min()} to {df[col].max()}"
                     if pd.api.types.is_numeric_dtype(df[col]) else "N/A"
        }
    return stats

# Collect stats for both DataFrames
clean_stats = collect_column_stats(df_clean)
raw_stats = collect_column_stats(df_raw)

# Create a PrettyTable instance for display
table = PrettyTable()
table.field_names = ["Column", "Metric", "Clean DataFrame", "Raw DataFrame", "Mismatch"]

# Add rows to the table for each column and metric
all_columns = set(df_clean.columns).union(df_raw.columns)  # Handle mismatched columns

for col in all_columns:
    for metric in ["Data Type", "Null Values", "Unique Values", "Range"]:
        clean_value = clean_stats.get(col, {}).get(metric, "N/A")
        raw_value = raw_stats.get(col, {}).get(metric, "N/A")
        
        # Flag if there's a mismatch between the two DataFrames
        mismatch = "Yes" if clean_value != raw_value else "No"
        
        table.add_row([col, metric, clean_value, raw_value, mismatch])

# Print the table
print(table)

+-----------------+---------------+---------------------------+---------------------------+----------+
|      Column     |     Metric    |      Clean DataFrame      |       Raw DataFrame       | Mismatch |
+-----------------+---------------+---------------------------+---------------------------+----------+
|   tenderstatus  |   Data Type   |           int64           |           int64           |    No    |
|   tenderstatus  |  Null Values  |             0             |             0             |    No    |
|   tenderstatus  | Unique Values |             1             |             1             |    No    |
|   tenderstatus  |     Range     |           0 to 0          |           0 to 0          |    No    |
|   discountable  |   Data Type   |           int64           |           int64           |    No    |
|   discountable  |  Null Values  |             0             |             0             |    No    |
|   discountable  | Unique Values |             5             |             5             |    No    |
|   discountable  |     Range     |           0 to 8          |           0 to 8          |    No    |
|     matched     |   Data Type   |           int64           |           int64           |    No    |
|     matched     |  Null Values  |             0             |             0             |    No    |
|     matched     | Unique Values |             20            |             20            |    No    |
|     matched     |     Range     |        -120 to 180        |        -120 to 180        |    No    |
|  trans_subtype  |   Data Type   |           object          |           object          |    No    |
|  trans_subtype  |  Null Values  |           389327          |           389327          |    No    |
|  trans_subtype  | Unique Values |             12            |             12            |    No    |
|  trans_subtype  |     Range     |            N/A            |            N/A            |    No    |
|      voided     |   Data Type   |           int64           |           int64           |    No    |
|      voided     |  Null Values  |             0             |             0             |    No    |
|      voided     | Unique Values |             5             |             5             |    No    |
|      voided     |     Range     |          0 to 40          |          0 to 40          |    No    |
|   description   |   Data Type   |           object          |           object          |    No    |
|   description   |  Null Values  |             0             |             0             |    No    |
|   description   | Unique Values |           15052           |           15052           |    No    |
|   description   |     Range     |            N/A            |            N/A            |    No    |
|     wicable     |   Data Type   |           int64           |           int64           |    No    |
|     wicable     |  Null Values  |             0             |             0             |    No    |
|     wicable     | Unique Values |             1             |             1             |    No    |
|     wicable     |     Range     |           0 to 0          |           0 to 0          |    No    |
|       upc       |   Data Type   |           object          |           object          |    No    |
|       upc       |  Null Values  |             0             |             0             |    No    |
|       upc       | Unique Values |           21600           |           21600           |    No    |
|       upc       |     Range     |            N/A            |            N/A            |    No    |
|     trans_id    |   Data Type   |           int64           |           int64           |    No    |
|     trans_id    |  Null Values  |             0             |             0             |    No    |
|     trans_id    | Unique Values |            194            |            194            |    No    |
|     trans_id    |     Range     |          1 to 196         |          1 to 196         |    No    |
|   register_no   |   Data Type   |           int64           |           int64           |    No    |
|   register_no   |  Null Values  |             0             |             0             |    No    |
|   register_no   | Unique Values |             10            |             10            |    No    |
|   register_no   |     Range     |          1 to 16          |          1 to 16          |    No    |
|    trans_type   |   Data Type   |           object          |           object          |    No    |
|    trans_type   |  Null Values  |             0             |             0             |    No    |
|    trans_type   | Unique Values |             5             |             5             |    No    |
|    trans_type   |     Range     |            N/A            |            N/A            |    No    |
|   memDiscount   |   Data Type   |          float64          |          float64          |    No    |
|   memDiscount   |  Null Values  |             0             |             0             |    No    |
|   memDiscount   | Unique Values |            610            |            610            |    No    |
|   memDiscount   |     Range     |       -72.0 to 31.2       |       -72.0 to 31.2       |    No    |
|     match_id    |   Data Type   |           int64           |           int64           |    No    |
|     match_id    |  Null Values  |             0             |             0             |    No    |
|     match_id    | Unique Values |             1             |             1             |    No    |
|     match_id    |     Range     |           0 to 0          |           0 to 0          |    No    |
|      Scale      |   Data Type   |           int64           |           int64           |    No    |
|      Scale      |  Null Values  |             0             |             0             |    No    |
|      Scale      | Unique Values |             2             |             2             |    No    |
|      Scale      |     Range     |           0 to 1          |           0 to 1          |    No    |
|     display     |   Data Type   |          float64          |          float64          |    No    |
|     display     |  Null Values  |          2998330          |          2998330          |    No    |
|     display     | Unique Values |             0             |             0             |    No    |
|     display     |     Range     |         nan to nan        |         nan to nan        |    No    |
|     datetime    |   Data Type   |           object          |           object          |    No    |
|     datetime    |  Null Values  |             0             |             0             |    No    |
|     datetime    | Unique Values |          1866515          |          1866515          |    No    |
|     datetime    |     Range     |            N/A            |            N/A            |    No    |
|       cost      |   Data Type   |          float64          |          float64          |    No    |
|       cost      |  Null Values  |             0             |             0             |    No    |
|       cost      | Unique Values |            2828           |            2828           |    No    |
|       cost      |     Range     |        0.0 to 749.0       |        0.0 to 749.0       |    No    |
|      total      |   Data Type   |          float64          |          float64          |    No    |
|      total      |  Null Values  |             0             |             0             |    No    |
|      total      | Unique Values |           23325           |           23325           |    No    |
|      total      |     Range     | -4080305.25 to 4080305.25 | -4080305.25 to 4080305.25 |    No    |
|     mixMatch    |   Data Type   |           int64           |           int64           |    No    |
|     mixMatch    |  Null Values  |             0             |             0             |    No    |
|     mixMatch    | Unique Values |             3             |             3             |    No    |
|     mixMatch    |     Range     |          0 to 17          |          0 to 17          |    No    |
|      branch     |   Data Type   |           int64           |           int64           |    No    |
|      branch     |  Null Values  |             0             |             0             |    No    |
|      branch     | Unique Values |             1             |             1             |    No    |
|      branch     |     Range     |           0 to 0          |           0 to 0          |    No    |
|     organic     |   Data Type   |          float64          |          float64          |    No    |
|     organic     |  Null Values  |          2998330          |          2998330          |    No    |
|     organic     | Unique Values |             0             |             0             |    No    |
|     organic     |     Range     |         nan to nan        |         nan to nan        |    No    |
|    unitPrice    |   Data Type   |          float64          |          float64          |    No    |
|    unitPrice    |  Null Values  |             0             |             0             |    No    |
|    unitPrice    | Unique Values |            4538           |            4538           |    No    |
|    unitPrice    |     Range     |      -72.0 to 999.15      |      -72.0 to 999.15      |    No    |
|     varflag     |   Data Type   |           int64           |           int64           |    No    |
|     varflag     |  Null Values  |             0             |             0             |    No    |
|     varflag     | Unique Values |             1             |             1             |    No    |
|     varflag     |     Range     |           0 to 0          |           0 to 0          |    No    |
|      local      |   Data Type   |           int64           |           int64           |    No    |
|      local      |  Null Values  |             0             |             0             |    No    |
|      local      | Unique Values |             1             |             1             |    No    |
|      local      |     Range     |           0 to 0          |           0 to 0          |    No    |
|     ItemQtty    |   Data Type   |          float64          |          float64          |    No    |
|     ItemQtty    |  Null Values  |             0             |             0             |    No    |
|     ItemQtty    | Unique Values |            2312           |            2312           |    No    |
|     ItemQtty    |     Range     |   -743225.0 to 743225.0   |   -743225.0 to 743225.0   |    No    |
|     charflag    |   Data Type   |           object          |           object          |    No    |
|     charflag    |  Null Values  |          2321518          |          2321518          |    No    |
|     charflag    | Unique Values |             6             |             6             |    No    |
|     charflag    |     Range     |            N/A            |            N/A            |    No    |
|     receipt     |   Data Type   |           int64           |           int64           |    No    |
|     receipt     |  Null Values  |             0             |             0             |    No    |
|     receipt     | Unique Values |             1             |             1             |    No    |
|     receipt     |     Range     |           0 to 0          |           0 to 0          |    No    |
|  batchHeaderID  |   Data Type   |          float64          |          float64          |    No    |
|  batchHeaderID  |  Null Values  |          2998330          |          2998330          |    No    |
|  batchHeaderID  | Unique Values |             0             |             0             |    No    |
|  batchHeaderID  |     Range     |         nan to nan        |         nan to nan        |    No    |
|     numflag     |   Data Type   |           int64           |           int64           |    No    |
|     numflag     |  Null Values  |             0             |             0             |    No    |
|     numflag     | Unique Values |             15            |             15            |    No    |
|     numflag     |     Range     |          0 to 384         |          0 to 384         |    No    |
|     trans_no    |   Data Type   |           int64           |           int64           |    No    |
|     trans_no    |  Null Values  |             0             |             0             |    No    |
|     trans_no    | Unique Values |            199            |            199            |    No    |
|     trans_no    |     Range     |          1 to 199         |          1 to 199         |    No    |
|     altPrice    |   Data Type   |          float64          |          float64          |    No    |
|     altPrice    |  Null Values  |             0             |             0             |    No    |
|     altPrice    | Unique Values |             1             |             1             |    No    |
|     altPrice    |     Range     |         0.0 to 0.0        |         0.0 to 0.0        |    No    |
|    itemstatus   |   Data Type   |           int64           |           int64           |    No    |
|    itemstatus   |  Null Values  |             0             |             0             |    No    |
|    itemstatus   | Unique Values |             1             |             1             |    No    |
|    itemstatus   |     Range     |           0 to 0          |           0 to 0          |    No    |
|    foodstamp    |   Data Type   |           int64           |           int64           |    No    |
|    foodstamp    |  Null Values  |             0             |             0             |    No    |
|    foodstamp    | Unique Values |             2             |             2             |    No    |
|    foodstamp    |     Range     |           0 to 1          |           0 to 1          |    No    |
|     quantity    |   Data Type   |          float64          |          float64          |    No    |
|     quantity    |  Null Values  |             0             |             0             |    No    |
|     quantity    | Unique Values |            2761           |            2761           |    No    |
|     quantity    |     Range     |   -743225.0 to 743225.0   |   -743225.0 to 743225.0   |    No    |
|     regPrice    |   Data Type   |          float64          |          float64          |    No    |
|     regPrice    |  Null Values  |             0             |             0             |    No    |
|     regPrice    | Unique Values |            2021           |            2021           |    No    |
|     regPrice    |     Range     |      -72.0 to 735.77      |      -72.0 to 735.77      |    No    |
|     card_no     |   Data Type   |           int64           |           int64           |    No    |
|     card_no     |  Null Values  |             0             |             0             |    No    |
|     card_no     | Unique Values |           11612           |           11612           |    No    |
|     card_no     |     Range     |         3 to 51183        |         3 to 51183        |    No    |
|   trans_status  |   Data Type   |           object          |           object          |    No    |
|   trans_status  |  Null Values  |           673703          |           673703          |    No    |
|   trans_status  | Unique Values |             8             |             8             |    No    |
|   trans_status  |     Range     |            N/A            |            N/A            |    No    |
| percentDiscount |   Data Type   |          float64          |          float64          |    No    |
| percentDiscount |  Null Values  |          1094857          |          1094857          |    No    |
| percentDiscount | Unique Values |             2             |             2             |    No    |
| percentDiscount |     Range     |        0.0 to 10.0        |        0.0 to 10.0        |    No    |
|    taxexempt    |   Data Type   |           int64           |           int64           |    No    |
|    taxexempt    |  Null Values  |             0             |             0             |    No    |
|    taxexempt    | Unique Values |             1             |             1             |    No    |
|    taxexempt    |     Range     |           0 to 0          |           0 to 0          |    No    |
|      store      |   Data Type   |           int64           |           int64           |    No    |
|      store      |  Null Values  |             0             |             0             |    No    |
|      store      | Unique Values |             1             |             1             |    No    |
|      store      |     Range     |           1 to 1          |           1 to 1          |    No    |
|     discount    |   Data Type   |          float64          |          float64          |    No    |
|     discount    |  Null Values  |             0             |             0             |    No    |
|     discount    | Unique Values |            2007           |            2007           |    No    |
|     discount    |     Range     |    -31530.0 to 385889.4   |    -31530.0 to 385889.4   |    No    |
|      volume     |   Data Type   |           int64           |           int64           |    No    |
|      volume     |  Null Values  |             0             |             0             |    No    |
|      volume     | Unique Values |             7             |             7             |    No    |
|      volume     |     Range     |          0 to 12          |          0 to 12          |    No    |
|    VolSpecial   |   Data Type   |          float64          |          float64          |    No    |
|    VolSpecial   |  Null Values  |             0             |             0             |    No    |
|    VolSpecial   | Unique Values |             25            |             25            |    No    |
|    VolSpecial   |     Range     |       -5.79 to 16.0       |       -5.79 to 16.0       |    No    |
|      emp_no     |   Data Type   |           int64           |           int64           |    No    |
|      emp_no     |  Null Values  |             0             |             0             |    No    |
|      emp_no     | Unique Values |             58            |             58            |    No    |
|      emp_no     |     Range     |          2 to 98          |          2 to 98          |    No    |
|     memType     |   Data Type   |          float64          |          float64          |    No    |
|     memType     |  Null Values  |          2998330          |          2998330          |    No    |
|     memType     | Unique Values |             0             |             0             |    No    |
|     memType     |     Range     |         nan to nan        |         nan to nan        |    No    |
|      staff      |   Data Type   |           int64           |           int64           |    No    |
|      staff      |  Null Values  |             0             |             0             |    No    |
|      staff      | Unique Values |             1             |             1             |    No    |
|      staff      |     Range     |           0 to 0          |           0 to 0          |    No    |
|   volDiscType   |   Data Type   |           int64           |           int64           |    No    |
|   volDiscType   |  Null Values  |             0             |             0             |    No    |
|   volDiscType   | Unique Values |             2             |             2             |    No    |
|   volDiscType   |     Range     |           0 to 2          |           0 to 2          |    No    |
|       tax       |   Data Type   |           int64           |           int64           |    No    |
|       tax       |  Null Values  |             0             |             0             |    No    |
|       tax       | Unique Values |             2             |             2             |    No    |